/* Universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
/* Nav bar*/

h1{
    font-size:40px;
    text-align: center;
}
/* hero image */

.hero{
    width:50%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
